.header {
  border-bottom: 1px solid #e7e9fc;
}

/* 
   MOBILE
    */

.header .container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;

  width: 100%;
}

/* LOGO */

.header-wrapper .logo {
  display: block;
  flex-shrink: 0;

  /* Именно логотип задаёт высоту header на mobile */
  padding: 16px 0;
}

/* BURGER */

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  margin-left: auto;
  padding: 0;

  flex-shrink: 0;

  border: none;
  background-color: transparent;

  color: #2e2f42;

  cursor: pointer;
}

.header-icon {
  display: block;

  width: 24px;
  height: 24px;

  fill: none;
  stroke: currentColor;
}

/* NAVIGATION */

.nav {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;

  gap: 40px;
}

.nav-item {
  font-weight: 500;
}

.nav-link {
  display: block;

  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* CURRENT PAGE */

.current {
  position: relative;

  color: #404bbf;
}

.current::after {
  content: '';

  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: #404bbf;
}

/* ADDRESS */

.address {
  display: none;
}

.address-list {
  display: flex;
}

.address-link {
  display: block;

  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* 
   TABLET — 768px+
    */

@media screen and (min-width: 768px) {
  .header-wrapper {
    width: auto;
    flex-shrink: 0;
  }

  /* На tablet/mobile padding логотипа больше не нужен */
  .header-wrapper .logo {
    padding: 0;
  }

  /* Скрываем burger */

  .burger-menu {
    display: none;
  }

  /* Показываем navigation */

  .nav {
    display: block;

    /* По требованию проверки */
    margin-left: 120px;
  }

  .nav-link {
    padding: 24px 0;
  }

  /* Показываем контакты */

  .address {
    display: block;
    margin-left: auto;
  }

  .address-list {
    flex-direction: column;
    align-items: flex-start;

    gap: 12px;
  }

  .address-link {
    padding: 0;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

/* 
   DESKTOP — 1158px+
    */

@media screen and (min-width: 1158px) {
  /* На desktop снова 76px */

  .nav {
    margin-left: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;

    gap: 40px;
  }

  .address-link {
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
